@media (min-width: 768px){
  .container {
    max-width: 720px;
    align-items: center;
  }
  .col {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .col-md-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
}

@media (min-width: 10px){
  .navbar{
    position: relative;
    align-items: center;
    display: flex;
    padding-left: 0;
    list-style: none;
    background-color:#343a40;
    flex-direction: row;
  }
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  line-height: 1.5;
  font-family: "Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
}

.mb {
  margin-bottom: 1.5rem;
}

.nav-text{
  display: flex;
  text-align: center;
  padding-top: .3125rem;
  padding-bottom: .3125rem;
  padding-left: .5rem;
  margin-right: 1rem;
  font-size: 1.25rem;
  color: white;
  list-style: none;
}

.nav-link{
  display: flex;
  padding-right: .5rem;
  padding-left: .5rem;
  text-decoration: none;
  background-color: transparent;
  color: white;
  list-style: none;
}

h1 {
  color: black;
  margin-left: 20px;
  font-size: 2.5rem;
}

.h3, h3 {
  font-size: 1.75rem;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  margin-bottom: .5rem;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.2;
  color: inherit;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0rem;
  margin-bottom: .5rem;
}

li {
  display: list-item;
  text-align: -webkit-match-parent;
}

ul {
  list-style-type: disc;
}

p {
  margin-top: 0;
  margin-bottom: 2.5rem;
}

div {
  display: block; 
}

a {
  color: #007bff;
  text-decoration: none;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

label {
  display: inline-block;
  margin-bottom: .5rem;
}

form {
  display: block;
  margin-top: 0em;
}

.form-control {
  display: block;
  width: 100%;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.form-group {
  margin-bottom: 1rem;
}

button, input, optgroup, select, textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

#login .container #login-row #login-column #login-box {
  margin-top: 120px;
  border: 1px solid #9C9C9C;
  background-color: #EAEAEA;
}

#login .container #login-row #login-column #login-box #login-form {
  padding: 20px;
}

#login .container #login-row #login-column #login-box #login-form #register-link {
  margin-top: -97px;
}

#login-link {
  margin-top: -55px;
}

.text-info {
  color: #17a2b8!important;
}

.text-center {
  text-align: center!important;
}

.text-right {
  text-align: right!important;
}

.align-items-center {
  -ms-flex-align: center!important;
  align-items: center!important;
}

.justify-content-center {
  -ms-flex-pack: center!important;
  justify-content: center!important;
}

.btn {
  display: inline-block;
  padding: .5rem 1rem;
  font-size: 1.25rem;
  line-height: 1.5;
  border-radius: .3rem;
  color: #fff;
  background-color: #926c48;
  border-color: #926c48;
}

.lead {
  font-size: 1.5rem;
}

.text-box{
  padding: 4rem 2rem;
  background-color:#eed3b8;
  border-radius: .3rem;

}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

 .col-md-12, .col-md-6, .col-md-auto {
  position: relative;
  width: 80%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
