<html>
    <head>
        <link href="../static/css/mystyle.css" rel="stylesheet">
    </head>
    <body>
        <div id="login">
            <div class="container">
                <div>
                    {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        <ul class=flashes>
                        {% for message in messages %}
                        <li>{{ message }}</li>
                        {% endfor %}
                        </ul>
                    {% endif %}
                    {% endwith %}
                </div>
                <div id="login-row" class="row justify-content-center align-items-center">
                    <div id="login-column" class="col-md-6">
                        <div id="login-box" class="col-md-12 ">
                            <form id="login-form" class="form" action="" method="POST">
                                {{ form.csrf_token}}
                                <h3 class="text-center text-info">Login</h3>
                                <div class="form-group">
                                    <label for="username" class="text-info">Username:</label><br>
                                    {{ form.username(class="form-control")}}
                                </div>
                                <div class="form-group">
                                    <label for="password" class="text-info">Password:</label><br>
                                    {{ form.password(class="form-control")}}
                                </div>
                                <div class="form-group">
                                    <label for="remember-me" class="text-info"><span>Remember me</span> 
                                        <span>
                                            {{form.remember_me}}
                                        </span>
                                    </label><br>
                                    <button type="submit" class="btn btn-info btn-md">Login</button>
                                </div>
                                <p id="register-link" class="text-right">
                                    <span style="color:black;">Dont have an account?</span>
                                    <a href="/register" class="text-info">Register</a>
                                </p>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>


